* {
	box-sizing: border-box;
}
body {
	background-color: white;
	font-size: 130%;
	font-family: Helvetica, Arial, sans-serif; 
}
h1#term {
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 300px;
	
	
}

p{
	background-color: #FFFF00;
	width: 90%;
	height: 150px;
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica, Arial, sans-serif;
}

.box {
	width: 100%;
}

/** Now for Large Devices **/

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;

	}
	.col-lg-4 {
		width: 33.33%;
	}
}

/** Now for Medium Devices **/

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {float: left;
	}
	.col-md-6 {width: 50%;
	}
	.col-md-12 {float: left;
	}
	.col-md-12 {width: 105.5%;
	}
	.col-md-12 {position: relative;
		right: 20px;}
	.col-md-12 {margin-top: -16px;
	}
}

/** Now for Small Devices**/

@media (max-width: 767px) {
	.col-sm-12 {float: left;
	}
	.col-sm-12 {width: 100%;
	}
}












